<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/5738f81d64.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body
    class="w-[100vw] h-[100vh] bg-slate-800 font-['Oswald'] text-white p-8 flex justify-center flex-col items-center gap-10">

    <div class="w-[50vw] text-black p-8 bg-white rounded-xl border-4 border-lime-400 flex flex-col gap-5 justify-center items-center text-center">
        <a class="bg-purple-400  w-full rounded-xl px-4 py-2 font-semibold text-black" href="https://analytics.google.com/analytics/web/#/p433283756/reports/reportinghub?params=_u..nav%3Dmaui&collectionId=life-cycle">Get
            Google Analytics</a>
        <a class="bg-red-400  w-full rounded-xl px-4 py-2 font-semibold text-black"
            href="https://business.facebook.com/events_manager2/list/dataset/762309122721004/overview?business_id=344316358668617">Get
            Meta Analytics</a>
    </div>
</body>

</html>